Tests/test-app/app/config/parameters.yml
/Tests/test-app/build/
/php_unit.xml
/Tests/test-app/var/*
!/Tests/test-app/var/cache
/Tests/test-app/var/cache/*
!/Tests/test-app/var/cache/.gitkeep
!/Tests/test-app/var/logs
/Tests/test-app/var/logs/*
!/Tests/test-app/var/logs/.gitkeep
!/Tests/test-app/var/sessions
/Tests/test-app/var/sessions/*
!/Tests/test-app/var/sessions/.gitkeep
/vendor/
/Tests/test-app/web/bundles
composer.lock
phpunit.xml
.idea/
*.*~

