<html>
<body>
    <h1>{{ 'Password Recovery'|trans({}, 'GalvesbandTraUserBundle') }}</h1>
    <p>
        {{ 'email_password_forgot_instructions'|trans({}, 'GalvesbandTraUserBundle') }}
    </p>

    <p>
        <a href="{{ path('login', {'token' : token}) }}">
            {{ path('login', {'token' : token}) }}
        </a>
    </p>
</body>
</html>