<html>
<body>
    <h1>{{ 'Password Recovery'|trans({}, 'GalvesbandTraUserBundle') }}</h1>
    <p>
        {{ 'email_password_forgot_instructions'|trans({}, 'GalvesbandTraUserBundle') }}
    </p>

    <p>
        <a href="{{ absolute_url(path('recover_password', {'token' : token, 'name' : name})) }}">
            {{ absolute_url(path('recover_password', {'token' : token, 'name' : name})) }}
        </a>
    </p>
</body>
</html>